.small-cell{
    height:3em;
}

.tag{
    min-height: 2em;
    font-size: 12px;
    padding: 0 4px 2px 4px;
}

.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.qind{
    min-width:5.8em;
    flex-basis:8.3%;
}

.row-start{
    border-style:solid;
    border-color:#000;
    border-width: 0px 1px 0px 0px;
    height:100%;
    display:flex;
    min-width:2.5em;
}

.full-height{
    display:flex;
}

.q-row-l{
}

.q-row-d{
    background-color:#F6F6F6;
}

.question-default{
    height:2em;
    border-style:solid;
    border-width:0 0 1px 0;
}

.soln-cell{
    margin-bottom:1em;
    word-wrap:break-word;
}

.pre_nav_style{
    margin-bottom:4em;
}

.community-soln{
    margin-top:4em;
}
