{% extends "main/base.html" %}

{% block title%} Login  {% endblock %}

{% block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2> Login </h2>

  <form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Login</button>
  </form>

</div>
<div class="col-md-4"></div>

{% endblock %}
