{% extends "main/base.html"%}

{% block title%} About {% endblock %}

{% block content %}

<p style="margin:1em 0 3em 0 ;">
  This site is studying aid for the Princeton physics prelim. Originally this site was based off of the <a href="http://princetonprelims.wikidot.com/">the prelim wiki</a>, however it has been expanded to provide additional features. Currently the three primary features are the ability to rate the existing solutions on the prelim wiki based off of their accuracy, and searching the database of questions by topic. This is made possible by registered users adding tags and in a large part by Lysander's classification of the problems. Lastly you can upload Latex solutions. Which will then be editable by everyone else. The latex is rendered using <a href="http://docs.mathjax.org/en/latest/start.html#putting-mathematics-in-a-web-page">mathjax</a>, so you will have to use slightly different syntax as explained on the mathjax website. 
</p>
<p>
If you have any comments or feedback please let me know.
</p>


{% endblock %}
