<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}

    {% block header%}
    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'main/appstyle.css' %}" />
    <title>{% block title %}Princeton Prelims{% endblock %}</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default pre_nav_style">
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-1">
	  <a href="{% url 'main:index' %}">Prelims</a>
	</div>
	<div class="col-md-2">
	  <a href="{% url 'main:about' %}">About</a>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-2">

          <form action="/browse/" method="get" >
            {# csrf_token #}
            <input type="text" name="question-search" placeholder="Search..">
            <input type="submit" value="Search" />
          </form>

	</div>
	<div class="col-md-2">
	  {% if request.user.is_authenticated %}
	  <a href="{% url 'logout' %}?next=/">Logout</a>
	  {% else %}
	  <a href="{% url 'login' %}">Login</a>
	  <a href="{% url 'main:register' %}">Register</a>
	  {% endif %}
	</div>
      </div>
      
    </nav>
  </div>
  
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    {% block content%}
    {% endblock %}
    </div>
    <div class="col-md-1"></div>
  </div>
</body>
