{% extends "main/base.html" %}

{% block title%}Princeton Prelims {% endblock %}

{% block content%}

{% if questions %}


<div class="row">
  {% for question in questions %}
  <div class="col-sm-1">
    <a href="{% url 'main:prob_view' question.ID%}">{{question.long_form}}</a>

    {% if forloop.counter|divisibleby:10 %}
    <div class="w-100"></div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% else %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <p>
    No questions found with this tag.
  </p>
</div>
<div class="col-md-4"></div>
{% endif %}

{% endblock %}
