{% extends "main/base.html"%}

{% block title %}Community Solution {% endblock %}

{% block header %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{%  endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>Solution to {{soln.question.long_form}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'main:prob_view' soln.question.ID %}">Up</a>
  </div>
  <div class="col-sm-10">
    {% if user.is_authenticated %}
    <a href="{% url 'main:edit_soln' soln.question.ID%}">Edit</a>
    {% endif %}
  </div>
</div>

<div class="col-sm-12 community-soln" >
  {{soln.soln_text}}
</div>

{% endblock %}

