{% extends "main/base.html" %}

{% block title %}Edit Solution {% endblock %}

{% block content %}

<div class="row">

</div>

<div class="row">
  <form method="post">
    {% csrf_token %}
    
    {{form}}
    <button type="submit">Save Edit</button>
  </form>
</div>

{% endblock %}
