
{% extends "main/base.html" %}

{% block title%}Princeton Prelims {% endblock %}

{% block content%}

    {% for test in tests %}
	<div class="row full-height {% cycle 'q-row-l' 'q-row-d' %}">
	    <div class="col-md-1 col-xs-1 ">
		<div class="row-start">
		    <a href="{% url 'main:prelim_view' test.0.ID%}">{{test.0.abrev}}</a>
		</div>
	    </div>
	    <div class="col-md-11 col-xs-11 ">
		<div class="flex-container">
		    {% for question  in test.1 %}
			<div  class="col-md-1 col-xs-2">
			    <a href="{% url 'main:prob_view' question.0.ID %}">
				{{question.0.default}}
			    </a>
			    <div  class="tag">
				{{question.1.0}}
			    </div>
			</div>
		    {% endfor %}
		</div>
	    </div>
	</div>
    {% endfor %}


{% endblock %}
