{% extends "main/base.html" %}


{% block title %} {{head.abrev}} {% endblock %}

{% block content %}

    <div class="row" style="margin:0 0 2em 0;">
	<div class="col-md-1">
	    <h3>{{head.abrev}}</h3>
	</div>
	<div class="col-md-1">
	    <a href="{% url 'main:index' %}">Up</a>
	</div>
	<div class="col-md-1">
	    {% if prevn %}
		<a href="{% url 'main:prelim_view' prevn %}">Previous</a>
	    {% endif %}
	</div>
	<div class="col-md-1">
	    {% if nextn %}
		<a href="{% url 'main:prelim_view' nextn %}">Next</a>
	    {% endif %}
	</div>
	
    </div>

    <div  style="display:flex;flex-direction:row;flex-wrap:wrap;">
	{% for qpair in solns %}
	    <div class="col-md-1 col-xs-4" >
		<div class="question-default">
		    <a href="{% url 'main:prob_view' qpair.0.ID %}">{{qpair.0.default}}</a>
		</div>
		<div class="soln-cell">
		    {% if qpair.2 %}
			<a href="{% url 'main:community_soln' qpair.0.ID%}">
			    Community Solution
			</a>
		    {% else %}
			{% if user.is_authenticated %}
			    <a href="{% url 'main:edit_soln' qpair.0.ID %}">
				Make Solution
			    </a>
			{% endif%}
		    {% endif %}
		</div>
		
		{% for soln in qpair.1%}
		    {% include "main/soln-cell.html" %}
		{% endfor %}
	    </div>
	{% endfor %}
    </div>

{% endblock %}
