{% extends "main/base.html" %}

{% block title %}{{prob.default}} {% endblock %}

{% block content %}

    <div class="row">
	<div class="col-md-3"></div>

	<div class="col-md-3 col-xs-6">
	    <h2>{{prob.long_form}}</h2>
	    <div class="row">
		<a href="{% url 'main:prelim_view' prob.prelim.ID %}">Up</a>&nbsp;
		{% if pid %}
		    <a href="{% url 'main:prob_view' pid %}">Previous</a>&nbsp;
		{% endif %}
		{% if nid %}
		    <a href="{% url 'main:prob_view' nid %}">Next</a>
		{% endif %}
	    </div>
	    {% if pdflink %}
		<a href="{{pdflink}}">pdf</a>
	    {% endif %}
	    <p>
		
		<b>Tags:</b>
		{% for tag in tags %}
		    {{tag}}{% if not forloop.last %},{% endif %}
		{% endfor %}
	    </p>
	    {% if request.user.is_authenticated %}
		<form method="post">
		    {% csrf_token %}
		    {{form.as_p}}
		    <button type="submit">Add</button>
		</form>
	    {% endif %}
	</div>
	<div class="col-md-4 col-xs-6">
	    <div  class="soln-cell">
		{% if comm_soln %}
		    <a href="{% url 'main:community_soln' prob.ID%}">Community Solution</a>
		{% else %}
		    {% if user.is_authenticated %}
			<a href="{% url 'main:edit_soln' prob.ID %}">Make Solution</a>
		    {% endif%}
		{% endif %}
	    </div>
	    {% for soln in solns%}
		{% include "main/soln-cell.html" %}
	    {% endfor %}
	</div>  
    </div>


    <div class="col-md-2"></div>

{% endblock %}
