{% extends "main/base.html" %}

{% block title%} Register  {% endblock %}

{% block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2> Register </h2>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{field.label_tag}}<br>
      {{field}}
      {% for error in field.errors %}
    <p style="color:red;"> {{error}} </p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Register</button>
  </form>  
</div>
<div class="col-md-4"></div>
{% endblock %}

