{% load static %}
<div class="soln-cell" >
    <a href="{{soln.soln_ref}}">{{soln.name}}</a><br>
    <div  style="display:flex;align-items:center;">
	{% if request.user.is_authenticated %}
	    <div  style="display:flex;flex-direction:column;padding-right:.5em;">
		<a href="{% url 'main:vote_view' soln.ID 0 %}">
		    <img src="{% static 'main/up.png' %}" />
		</a>
		<a href="{% url 'main:vote_view' soln.ID 1 %}">
		    <img src="{% static 'main/down.png' %}" />
		</a>
	    </div>

	{% endif %}
	u:{{soln.num_vote_up}}/d:{{soln.num_vote_down}}
    </div>    
</div>
